<%= form_for @reception, html: { class: "needs-validation", novalidate: "" } do |f| %>
  <div class="card-header">
    <h4>Reception Form</h4>
  </div>
  <div class="card-body">
    <% if @reception.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@reception.errors.count, "error") %> prohibited this reception from being saved:</h2>

        <ul>
        <% @reception.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Item <span class="text-danger">*</span></label>
      <div class="col-sm-9">
        <%= f.collection_select :item_id, @items, :id, :sku_name, {prompt: "-- pilih --"}, class: 'form-control select2', required: "" %>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Qty <span class="text-danger">*</span></label>
      <div class="col-sm-9">
        <%= f.number_field :qty, class: 'form-control', required: "" %>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Notes <span class="text-danger">*</span></label>
      <div class="col-sm-9">
        <%= f.text_area :notes, class: 'form-control', required: "" %>
      </div>
    </div>
  </div>
  <div class="card-footer text-right">
    <%= link_to "Back", receptions_path, class: "btn btn-secondary" %>
    <button class="btn btn-primary submitForm" type="submit">Submit</button>
  </div>
<% end %>
