<section class="section">
  <div class="section-body">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h4>Payment</h4>
            <div class="card-header-action">
              <a href="<%= new_payment_path %>" class="btn btn-icon icon-left btn-primary">
                <i class="fas fa-plus"></i> Tambah
              </a>
            </div>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-striped table-hover" id="tableExport" style="width:100%;">
                <thead>
                  <tr class="text-center">
                    <th nowrap>CODE</th>
                    <th nowrap>NAME</th>
                    <th nowrap>STATUS</th>
                    <th nowrap>AKSI</th>
                  </tr>
                </thead>
                <tbody>
                  <% @payments.each do |payment| %>
                    <tr class="text-center">
                      <td nowrap><%= payment.code %></td>
                      <td nowrap><%= payment.name %></td>
                      <td nowrap><%= payment.state ? "ACTIVE" : "NON ACTIVE" %></td>
                      <td nowrap class="text-center">
                        <a href="<%= edit_payment_path(payment) %>" class="btn btn-icon btn-sm btn-warning">
                          <i class="far fa-edit"></i>
                        </a>
                        <a href="<%= payment_path(payment) %>" class="btn btn-icon btn-sm btn-danger" data-method="DELETE" data-confirm="Are you sure?">
                          <i class="far fa-trash-alt"></i>
                        </a>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  $('#tableExport').DataTable({
    order: [],
    dom: 'Bfrtip',
    buttons: [
      'copy', 'csv', 'excel', 'pdf', 'print'
    ]
  });
</script>