<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @payment.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @payment.name %>
</p>

<p>
  <strong>State:</strong>
  <%= @payment.state %>
</p>

<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
