<%= form_for @item, html: { class: "needs-validation", novalidate: "" } do |f| %>
  <div class="card-header">
    <h4>Item Form</h4>
  </div>
  <div class="card-body">
    <% if @item.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

        <ul>
        <% @item.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">SKU <span class="text-danger">*</span></label>
      <div class="col-sm-9">
        <%= f.text_field :sku, class: 'form-control', required: "" %>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Name <span class="text-danger">*</span></label>
      <div class="col-sm-9">
        <%= f.text_field :name, class: 'form-control', required: "" %>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">UoM <span class="text-danger">*</span></label>
      <div class="col-sm-9">
        <%= f.collection_select :uom_id, @uoms, :id, :name, {prompt: "-- pilih --"}, class: 'form-control select2', required: "" %>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">State <span class="text-danger">*</span></label>
      <div class="col-sm-9">
        <%= f.select :state, [["AKTIF", true], ["TIDAK AKTIF", false]], {prompt: "-- pilih --"}, class: 'form-control select2', required: "" %>
      </div>
    </div>
  </div>
  <div class="card-footer text-right">
    <%= link_to "Back", items_path, class: "btn btn-secondary" %>
    <button class="btn btn-primary" type="submit">Submit</button>
  </div>
<% end %>
