<section class="section">
  <div class="section-body">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h4>Detail</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>Customer Name</th>
                    <th><%= @order_header.customer_name %></th>
                  </tr>
                </thead>
                <thead>
                  <tr>
                    <th width="50%">Item</th>
                    <th width="10%">Qty Request</th>
                    <th width="10%">Qty Available</th>
                    <th width="15%">Unit Price (Exc. PPN)</th>
                    <th width="15%">Unit Price (Inc. PPN)</th>
                  </tr>
                </thead>
                <tbody class="order_details_tbody">
                  <% @order_details.each do |order_detail| %>
                    <tr>
                      <td>
                        <%= order_detail.item.try(:sku) %> - <%= order_detail.item.try(:name) %>
                      </td>
                      <td>
                        <%= order_detail.qty_request %>
                      </td>
                      <td>
                        <%= order_detail.qty_available %>
                      </td>
                      <td align="right">
                        <%= number_to_currency(order_detail.price_exclude, unit: "", precision: 2, delimiter: ",", separator: ".") %>
                      </td>
                      <td align="right">
                        <%= number_to_currency(order_detail.price_include, unit: "", precision: 2, delimiter: ",", separator: ".") %>
                      </td>
                    </tr>
                  <% end %>
                  <tr>
                    <td colspan="3">Total</td>
                    <td align="right"><%= number_to_currency(@order_details.sum(:price_exclude), unit: "", precision: 2, delimiter: ",", separator: ".") %></td>
                    <td align="right"><%= number_to_currency(@order_details.sum(:price_include), unit: "", precision: 2, delimiter: ",", separator: ".") %></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="text-right">
          <%= link_to "Back", order_headers_path, class: "btn btn-secondary" %>
          <a href="<%= submit_confirm_order_header_path(@order_header) %>" class="btn btn-icon btn-info" data-method="PATCH" data-confirm="Are you sure?" title="CONFIRM">
            Confirm
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
