<p id="notice"><%= notice %></p>

<p>
  <strong>Percentage:</strong>
  <%= @tax.percentage %>
</p>

<p>
  <strong>Year:</strong>
  <%= @tax.year %>
</p>

<p>
  <strong>State:</strong>
  <%= @tax.state %>
</p>

<%= link_to 'Edit', edit_tax_path(@tax) %> |
<%= link_to 'Back', taxes_path %>
