<!DOCTYPE html>
<html>
  <head>
    <title>POS</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="app">
      <% if user_signed_in? %>
        <div class="main-wrapper main-wrapper-1">
          <div class="navbar-bg"></div>
          <%= render "layouts/partials/header" %>
          <%= render "layouts/partials/sidebar" %>
          <div class="main-content">
            <section class="section">
              <%= yield %>
            </section>
          </div>
          <%= render "layouts/partials/footer" %>
        </div>
      <% else %>
        <%= yield %>
      <% end %>
    </div>

    <script>
      if("<%= notice %>" != "") {
        setTimeout(function () {
          iziToast.success({
            title: 'Information',
            message: '<%= notice %>',
            position: 'topRight'
          });
        }, 500);
      } else
      if("<%= alert %>" != "") {
        setTimeout(function () {
          iziToast.error({
            title: 'Information',
            message: '<%= alert %>',
            position: 'topRight'
          });
        }, 500);
      }
    </script>
  </body>
</html>
